body{
    background-image:url(../img/crossword.png);
    background-color:lightgray;
}

#cta-ann{
    overflow:hidden;
    width:100%;
    height:800px;
    background-image:url(../img/cta_Background.jpg);
    background-size:cover;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2); 
}

.nav-search{
  top: .5em;
  background-color: rgba(255, 255, 255, .4); 
}

.word-carousel{
    padding-top:100px;
    font-family: 'Rock Salt', cursive;
    color:dodgerblue;
    /*-webkit-font-smoothing:antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
}

.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a {
    font-family: 'Rock Salt', cursive;
    
}

/* form starting stylings ------------------------------- */
.group        { 
  position:relative; 
  margin-bottom:4px; 
}
.tsinput         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  background-color:transparent;
}
.tsinput:focus{
  outline:none;
}

/* LABEL ======================================= */
label          {
  color: #008CBA;
  letter-spacing: 4.1px;
  font-size:1.0em;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
}

/* active state */
.tsinput:focus ~ label, .tsinput:valid ~ label     {
  /*top:-20px;*/
  font-size:14px;
  color: #008CBA;
}

.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
  content:'';
  /*height:.5px; */
  width:0;
  border-bottom:1px solid #008CBA; 
  position:absolute;
  background:black; 
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.tsinput:focus ~ .bar:before, .tsinput:focus ~ .bar:after {
  width:50%;
}
/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.tsinput:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from  { background:#008CBA; }
  to    { width:0; background:transparent; }
}


/* active state */
.tsinput:focus ~ label, .tsinput:valid ~ label {
  top:-20px;
  border: 2px;
  font-size:14px;
  color: #008CBA;
}

.top-bar{
  background-color:rgba(58, 59, 58, .5);
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26); 
}
.has-form{
    background-color: transparent;
}
.top-bar-section ul li{
  background-color: transparent;
}
@media only screen and (min-width: 40.063em){
.top-bar-section .has-form {
  background: transparent;

}

}

ul>li>a{
  background:transparent;
}

@media only screen and (min-width: 40.063em){
.top-bar-section li:not(.has-form) a:not(.button) {
  background: transparent;
}

}
#ctrlID{
  padding-top: 10%;
  text-align: center;
}
#glgin{
    position: absolute:
    top: 50%;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
#ctrlIDlgin{
  padding-top: 7%;
}
#lgpg{
    position: absolute:
    top: 50%;

}


