*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*  ====================================================================
    Helpers
    ==================================================================== */
.clearfix {
  zoom: 1; }

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.ir {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -999em;
  direction: ltr; }

.ir br {
  display: none; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto; }

.invisible {
  visibility: hidden; }

/*  ====================================================================
    Text
    ==================================================================== */
.sudle {
  opacity: 0.8; }

/*  ====================================================================
    th
    ==================================================================== */
.th {
  max-width: 128px; }

/*  ====================================================================
    Components
    ==================================================================== */
nav.fixed {
  top: 0;
  position: fixed; }

.main-search {
  padding-top: 1.2em;
  width: 80%;
  margin: 0 auto; }
  .main-search .group {
    float: left; }
  .main-search .ss {
    color: #008CBA;
    margin-top: 5px;
    float: left;
    width: 107px;
    border: 1px solid black; }

.devices {
  margin-bottom: 10px;
  padding: 10px 15px;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  position: relative;
  z-index: 10;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26); }
  .devices .selectionDevices .devbtn {
    margin-right: 3px; }
    .devices .selectionDevices .devbtn span {
      @expand .sudle;
      font-size: 13.5px; }

.currentplaylist {
  background: #f2f2f2;
  position: relative;
  overflow-y: scroll;
  max-height: 400px;
  width: 80%;
  margin: 0 auto;
  z-index: 5; }
  .currentplaylist ul {
    list-style: none; }
    .currentplaylist ul li {
      display: block;
      position: relative;
      width: 100%; }
      .currentplaylist ul li:hover {
        background-color: #ccc; }
      .currentplaylist ul li a {
        display: block; }

.player-wrapper--outer {
  width: 100%;
  position: relative;
  text-aling: center; }
  .player-wrapper--outer .player-wrapper--inner {
    width: 80%;
    margin: 0 auto; }

.youtubeplayer {
  border-radius: 4px;
  height: 90vh; }

@media screen and (max-width: 650px) {
  ul.right {
    background-color: gray; } }

/*# sourceMappingURL=player.css.map */
