<h1>hello from room.html | currentIndex: {{currentPlaylistRef.$value}} | {{room.currentlyPlaying}}</h1>

  
<div class="currentplaylist">
    <h4>currentplaylist</h4>
    
    <ul>
        <li ng-repeat="song in room.allPlaylist.default">
            <a href="" ng-show="song.player == 'youtube'" ng-click="playYoutube(song.link)">{{song.name}} | {{song.player}}</a>
            <a href="" ng-show="song.player == 'soundcloud'")>{{song.name}} | {{song.player}}</a>

        </li>
    </ul>
    
</div>

<div class="stage" ng-switch on="currentPlayer">
    
    
    <div class="soundcloud" ng-switch-when="soundcloudplayer">
        <h1>soundcloud player</h1>
        <player>
            <buttton ng-click="addSound()">Play Dawg</button>
            <h1><span class="newWord"></span></h1>
        </player>
    </div>
    
    <div class="youtube" ng-switch-when="youtubeplayer">
        <h1>youtube player</h1>
        <youtube-video player="mainPlayer" player-vars="playerVar" video-url="room.currentlyPlaying"></youtube-video>
    </div>
    
</div>




<form ng-submit="searchingVideo(searchQuery)">
    <input type="text" name="query" ng-model="searchQuery"/>
    <input type="submit" value="Submit"/>
        
        <select ng-model="correctlySelected"
                ng-options="opt as opt.label for opt in options">
        </select>
    
</form>

The value selected is {{ correctlySelected.label }}.

<div class="searchResults" ng-switch on="correctlySelected.label">
    <div ng-switch-default>
        <h3>searching nothing</h3>
    </div>
    
    <div class="soundCloudSearch" ng-switch-when="SoundCloud">
        <h3>sound cloud results</h3>
        <ul>
            <li ng-repeat="song in searchArray track by $index">
                <img ng-src="{{song.artwork_url}}"></img>
                <span>{{song.title}}</span>
                <button ng-click="addSCSong(song)">add song</button>
            </li>
        </ul>
        
    </div>
    <div class="youtubeSearch" ng-switch-when="YouTube">
        <h2>youtube results</h2>
        <ul>
            <li ng-repeat="song in searchArray track by $index">
            
                <img ng-src="{{song.snippet.thumbnails.default.url}}"></img>
                <a href="" ng-click="playYoutube(song.id.videoId)">{{song.snippet.title}}</a>
                <button ng-click="addYTSong(song)">add song</button>

            
            </li>
        </ul>
    </div>
</div>