
<div class="devices">
    <h1>switch devices to play on: {{room.playingDevice}}</h1>
    <div class="selectionDevices">
        <button ng-repeat="device in devices" class="devbtn" ng-click="selectingNewDev(device.name)">{{device.name}}</button>
    </div>
</div>
  
<div class="currentplaylist">
    <ul>
        <li ng-repeat="song in room.allPlaylist.default">
            <a href="" ng-show="song.player == 'youtube'" ng-click="playYoutube(song.link)">{{song.name}} | {{song.player}}</a>
            <a href="" ng-show="song.player == 'soundcloud'" ng-click="playSoundcloud(song.link)")>{{song.name}} | {{song.player}}</a>
        </li>
    </ul>
    
</div>

<div class="stage" ng-switch on="checkPlayingDevice(room.playingDevice)">
    <div ng-switch-default>
        default
    </div>
    <div ng-switch-when="false">
        playing on another device.
    </div>
    
    <div class="player-wrapper--outer" ng-switch-when="true">
        playing on this deivce.
         <div class="player-wrapper--inner" ng-switch on="room.currentPlayer">
    
    
        <div class="soundcloud" ng-switch-when="soundcloud">
            <h1>soundcloud player</h1>
            <!--<player>-->
            <!--    <buttton ng-click="addSound()">Play Dawg</button>-->
                <!--<h1><span class="newWord"></span></h1>-->
            <!--</player>-->
        <div plangular="http://soundcloud.com/jxnblk/plangular"></div>
    </div>
    
    <div class="youtube" ng-switch-when="youtube">
        <h1>youtube player</h1>
        <youtube-video player="mainPlayer" player-vars="playerVar" video-url="room.currentlyPlaying"></youtube-video>
    </div>
    
    </div>
    <!--INNER-->
    </div>
    <!--OUTER-->
   
</div>




<form ng-submit="searchingVideo(searchQuery)">
    <input type="text" name="query" ng-model="searchQuery"/>
    <input type="submit" value="Submit"/>
        
        <select ng-model="correctlySelected"
                ng-options="opt as opt.label for opt in options">
        </select>
    
</form>

The value selected is {{ correctlySelected.label }}.

<div class="searchResults" ng-switch on="correctlySelected.label">
    <div ng-switch-default>
        <h3>searching nothing</h3>
    </div>
    
    <div class="soundCloudSearch" ng-switch-when="SoundCloud">
        <h3>sound cloud results</h3>
        <ul>
            <li ng-repeat="song in searchArray track by $index">
                <img ng-src="{{song.artwork_url}}"></img>
                <a href="" ng-click="playSoundcloud(song.stream_url)">{{song.title}}</a>
                <button id="addSCs" ng-click="addSCSong(song)" onclick="this.disabled=true;">Add song</button>
            </li>
        </ul>
        
    </div>
    <div class="youtubeSearch" ng-switch-when="YouTube">
        <h2>youtube results</h2>
        <ul>
            <li ng-repeat="song in searchArray track by $index">
            
                <img ng-src="{{song.snippet.thumbnails.default.url}}"></img>
                <a href="" ng-click="playYoutube(song.id.videoId)">{{song.snippet.title}}</a>
                <button id="addTYs" ng-click="addYTSong(song)" onclick="this.disabled=true;">Add song</button>

            
            </li>
        </ul>
    </div>
</div>